body { 
    background: #FFFFFF;
    color: #757575;
}

.logo {
    color: #000000;
}
.logo > span {
     color: #2196F3;
}


/* колір лого #000000 #2196F3 */
/* колір літер хедера вторинний мілкі заголовки #212121 */
/* колір шрифта hero #FFFFFF */
/* фон hero і футера background: #2F303A;*/
/* колір емейлу і тел в футері rgba(255, 255, 255, 0.6); */
/* колір емейла і тел в хедері #757575 */
/* фон 2 і3 секцій background: #FFFFFF; */
/* фон 3 секції background: #F5F4FA */