:root {
    --whete-letters: #FFFFFF;
    --fon: #2F303A;
    --fonbut: #2196F3;
    --title-text-color: #212121;
    --fonbutton: #F5F4FA;
    --main-text-color: #757575;
}

body { 
    background: var(--whete-letters);
    color: var(--main-text-color);
    font-family: Roboto, sans-serif;
    letter-spacing: 0.03em;
}

.list {
    list-style: none;
}
/* index.html */
/* logo */

.logo {
    color: #000000;
    font-family: Raleway, sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.2;      
}
.logo > span {
     color: var(--fonbut);
}

.logofoot {
    color: var(--whete-letters);
}

.logofoot > span {
    color: var(--fonbut);
}

/* Site nav */

.site-nav .link {
    color: var(--title-text-color);
}

.site-nav .link:hover,
.site-nav .link:focus {
    color: var(--fonbut);
}

.site-nav .link.current {
    color: var(--fonbut);
}

/* Site contacts */

.site-cont .linkk {
    color: var(--main-text-color);
}

.site-cont .linkk:hover,
.site-cont .linkk:focus {
    color: var(--fonbut);
}

/* section Hero */

.hero {
    background: var(--fon);
}
.hero-title {
    color: var(--whete-letters);
}
.hero-button {
    color: var(--whete-letters);
    background: var(--fonbut);
}

/* Section Benefits */

/* .section */

.section-title {
    color: var(--title-text-color);
}

/* Section Our team */
.team {
    background: #F5F4FA;
}

/* footer */

.footer {
    background: var(--fon);
}
.footer-title {
    color: var(--whete-letters);
}

/* portfolio */
.button-type     {
    color: var(--title-text-color);
    background: var(--fonbutton);
}

.site-but .link {
    color: var(--title-text-color);
}

.site-but .link:hover,
.site-but .link:focus {
    color: var(--whete-letters);
    background: var(--fonbut);
}

.descrip {
    color: var(--main-text-color);
}

